@font-face {
  font-family: "Roboto"
  src: url("../web/roboto.woff2") format("woff2"),
       url("../web/roboto.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto"
  src: url("../web/robotobold.woff2") format("woff2"),
       url("../web/robotobold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto"
  src: url("../web/robotomedium.woff2") format("woff2"),
       url("../web/robotomedium.woff") format("woff");
  font-weight: medium;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  background-color: #849d8f;
}

body *{
  outline: 2px solid crimson;
}

.container {
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 27px;
}

.main-menu,
.sub-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-menu-link {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.main-menu-link:hover{
  color: #333333;
  text-decoration: none;
}

.main-menu-link-active {
  color: #ffffff;
  text-decoration: none;
}

.sub-menu {
  display: none;
}

.sub-menu-link {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  text-decoration: none;
}

.sub-menu-link-active {
  color: #ffffff;
}

.different-link {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
}

.user-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.form-search,
.form-input,
.form-basket {
  display: none;
}

.btn-search {
  font-family: "Roboto";
  font-weight: medium;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
}

.btn-search:hover {
  color: #323232;
}

.btn-input {
  font-family: "Roboto";
  font-weight: medium;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
}

.btn-input:hover {
  color: #323232;
}

.btn-basket {
  font-family: "Roboto";
  font-weight: medium;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
}

.btn-basket:hover {
  color: #323232;
}

.form-search-input,
.form-input-email,
.form-input-password {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #323232;
}

.form-search-input::placeholder,
.form-input-email::placeholder,
.form-input-password::placeholder {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
}

.forgot-link,
.new-registration-link {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #323232;
}

.form-input-button {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.main-header-shedule {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.main-header-phone {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
}

.sales-block-raspberries {
  background-color: #a10825;
  background-image: url("../img/raspberries-background.png");
  background-repeat: no-repeat;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.sales-block-chocolate {
  background-color: #40261a;
  background-image: url("../img/chocolate-background.png");
  background-repeat: no-repeat;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.sales-slogan  {
  font-size: 35px;
  line-height: 41px;
}

.raspberries-btn,
.chocolate-btn {
  line-height: 24px;
}

.product-section {
  margin-bottom: 40px;
}

.product-block {
    list-style: none;
    padding: 0;
    margin: 0;
}

.product-item {
  font-family: "Roboto";
  font-weight: bold;
  color: #ffffff;
  width: 270px;
  margin-bottom: 40px;
}

.product-item-name {
  font-weight: medium;
  font-size: 16px;
  line-height: 22px;
}

.product-item-price {
  font-size: 45px;
  line-height: 45px;
}

.product-item-price-smaller {
  font-size: 30px;
}

.quick-view-btn {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

.about-us {
  height: 310px;
  margin-bottom: 40px;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  background-color: #efe5d0;
  background-image: url("../img/waffle-background.jpg");
}

.about-us-slogan {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

.blog  {
  background-color: #ffffff;
  background-image: url("../img/strawberry-background.png");
}

.blog-new {
  font-family: "Roboto";
  font-weight: medium;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

.blog-link {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

.email {
  background: #f8f7f4;
}

.email-sentence {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
}

.form-email-input {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
}

.email-btn {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.map-block {
  Width: 1200px;
  height: 430px;
  margin: 0 auto;
  border-color: #e9e2c7;
  background-image: url("../img/map-image.jpg")
}

.address-paragraph-1,
.address-paragraph-2 {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
}

 .address-value {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #323232;
}

 .address-phone  {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #323232;
}

.address-btn {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

.footer-info-link {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
}

.footer-info-link:first-child {
  font-weight: bold;
}

.copyright-wrapper {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}

.copyright-link-text {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}

.feedback-caption {
  font-family: "Roboto";
  font-weight: medium;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

.feedback-user-name,
.feedback-user-email,
.feedback-user-message {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #323232;
}

.feedback-user-name::placeholder,
.feedback-user-email::placeholder,
.feedback-user-message::placeholder {
  font-family: "Roboto";
  font-weight: noraml;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
}

.feedback-user-message::placeholder {
  color: #999999;
}

.feedback-btn {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.table-basket-item {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
}

.basket-item-price-value {
  color: #999999;
}

.basket-total-price {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #323232;
}

.basket-order-btn {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.breadcrumbs {
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs-link {
  font-family: "Roboto";
  font-weight: noraml;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.breadcrumbs-item:last-child .breadcrumbs-link {
  text-decoration: none;
}

.catalog-main-title {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
}

.main-form {
  font-family: "Roboto";
  font-weight: medium;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.main-form-legend {
 line-height: auto;
}

.fieldset-fatness-label {
  font-size: 16px;
  line-height: 18px;
}

.main-form-sorting {
  font-family: "Roboto";
  font-weight: medium;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.main-form-sorting:focus {
  color: #323232;
}

.main-form-sorting:hover {
  color: #323232;
}

.sorting-option {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
}

.main-form-btn {
  font-family: "Roboto";
  font-weight: medium;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.main-form-btn:hover {
  color: #323232;
}

.main-form-btn:active {
  color: #323232;
}

.pages-list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.pages-list-link {
  font-family: "Roboto";
  font-weight: medium;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}

.here {
  color: #323232;
}

.pages-list-link:active {
  color: #323232;
}

a.btn {
  text-decoration: none;
}

.btn:active:active {
  color: #fceeec;
}

.footer-info-link:hover,
.footer-info-link:active {
  color: #ffbc9e;
}

.copyright-link:hover,
.copyright-link:active {
  color: #ffbc9e;
}

.breadcrumbs-link:hover,
.breadcrumbs-link:active {
  color: #ffbc9e;
}

.forgot-link:hover,
.forgot-link:active {
  color: #ffbc9e;
}

.new-registration-link:hover,
.new-registration-link:active {
  color: #ffbc9e;
}

.main-header .container {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.main-header-logo {
  display: flex;
  margin: auto;
  width: 154px;
}

.main-navigation {
  display: flex;
  width: 970px;
}

.main-menu {
  display: flex;
  margin-right: auto;
}

.user-menu {
  display: flex;
}

.main-header-shedule {
  display: flex;
  flex-direction: column;
}

.half-wrapper {
  width: 560px;
}

.sales-block {
  display: flex;
  min-height: 230px;
  justify-content: space-between;
  margin-bottom: 40px;
}

.company-info {
  display: flex;
  min-height: 220px;
  justify-content: space-between;
  margin-bottom: 40px;
}

.product-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.company-info {
  display: flex;
  min-height: 230
  background-repeat: no-repeat;px;
}
.main-footer {
  display: flex;
  justify-content: space-between;
}
.copyright-wrapper {
  display: flex;
  flex-direction: column;
}

.footer-info-wrapper {
  display: flex;
  align-items: center;
}

.info-left-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info-right-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.social-wrapper {
  align-self: center;
}
